# Goal:
Determine if the limits for eligibility are equal among states.

Compare the eligible population percent per state to the national average.

In [12]:
import pandas as pd
import seaborn as sns

In [16]:
states = pd.read_csv('data/statesites.csv')
states

,Id,StateAbbr,StateName,AllowedAssets,BaseIncomeLimit,PerHouseholdMemberIncomeLimit,IncomeMultiplier
0,1,AL,Alabama,10000,13590,4720,2.5
1,2,AR,Arkansas,10000,13590,4720,2.5
2,3,AZ,Arizona,10000,13590,4720,2.5
3,4,CA,California,10000,13590,4720,4.0
4,5,CT,Connecticut,10000,13590,4720,2.5
5,6,FL,Florida,10000,13590,4720,2.5
6,7,GA,Georgia,10000,13590,4720,2.5
7,8,HI,Hawaii,10000,15630,5430,2.5
8,9,IA,Iowa,10000,13590,4720,2.5
9,10,ID,Idaho,10000,13590,4720,2.5
10,11,IL,Illinois,500000,13590,4720,3.0
11,12,IN,Indiana,10000,13590,4720,2.5
12,13,KS,Kansas,10000,13590,4720,2.5
13,14,LA,Louisiana,500000,13590,4720,4.0
14,15,MA,Massachusetts,10000,13590,4720,2.5
15,16,MD,Maryland,10000,13590,4720,2.5
16,17,ME,Maine,500000,13590,4720,4.0
17,18,MI,Michigan,10000,13590,4720,2.0
18,19,MO,Missouri,500000,13590,4720,4.0
19,20,MS,Mississippi,10000,13590,4720,2.5
20,21,NC,North Carolina,20000,13590,4720,3.0
21,22,ND,North Dakota,10000,13590,4720,2.5
22,23,NE,Nebraska,500000,13590,4720,4.0
23,24,NH,New Hampshire,10000,13590,4720,4.0
24,25,NJ,New Jersey,500000,13590,4720,4.0
25,26,NM,New Mexico,10000,13590,4720,2.5
26,27,NY,New York,500000,13590,4720,4.0
27,28,OK,Oklahoma,10000,13590,4720,2.5
28,29,PA,Pennsylvania,10000,13590,4720,2.5
29,30,SC,South Carolina,10000,13590,4720,2.5
30,31,SD,South Dakota,10000,13590,4720,2.5
31,32,TN,Tennessee,10000,13590,4720,2.5
32,33,TX,Texas,10000,13590,4720,2.5
33,34,US,ABA Federal,10000,13590,4720,2.5
34,35,UT,Utah,10000,13590,4720,2.5
35,36,VA,Virginia,10000,13590,4720,2.5
36,37,VI,U.S. Virgin Islands,10000,13590,4720,2.5
37,38,VT,Vermont,10000,13590,4720,2.5
38,39,WA,Washington,10000,13590,4720,2.5
39,40,WI,Wisconsin,20000,13590,4720,4.0
40,41,WV,West Virginia,10000,13590,4720,4.0
41,42,WY,Wyoming,10000,13590,4720,2.5

In [ ]:
# average household size over us for income buckets < 25K
# this is a pretty poor way to do this, but time is of the essence
# avg_household = sum([1.88,	1.72,	1.56,	1.68,	1.83]) / 5